{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div class="element-balances justify-content-between mobile-full-width">
                <div class="balance balance-v2">
                    <div class="balance-title">
                        Your Portfolio Balance
                    </div>
                    <div class="balance-value">
                        <span class="d-xxl-none">$72,245</span><span class="d-none d-xxl-inline-block">$171,473</span><span class="trending trending-down-basic"><span>%12</span><i class="os-icon os-icon-arrow-2-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="element-wrapper pb-4 mb-4 border-bottom">
                <div class="element-box-tp">
                    <a id="get-all-games" class="btn btn-primary" href="#"><i class="os-icon os-icon-refresh-ccw"></i><span>Update</span></a>
                    <a class="btn btn-grey" href="#"><i class="os-icon os-icon-log-out"></i><span>Withdraw</span></a>
                    <a class="btn btn-grey d-none d-sm-inline-block" href="#"><i class="os-icon os-icon-plus-circle"></i><span>Add Wallet</span></a>
                </div>
            </div>
            <div class="element-wrapper compact">
                <div class="element-box-tp">
                    <div class="element-actions d-none d-sm-block">
                        <form class="form-inline justify-content-sm-end">
                            <label class="smaller" for="">Show Period:</label><select class="form-control form-control-sm form-control-faded">
                                <option selected="true">
                                    Last 30 days
                                </option>
                                <option>
                                    This Week
                                </option>
                                <option>
                                    This Month
                                </option>
                                <option>
                                    Today
                                </option>
                            </select>
                        </form>
                    </div>
                    <h6 class="element-box-header">
                        Balance History
                    </h6>
                    <div class="el-chart-w">
                        <canvas data-chart-data="13,28,19,24,43,49,40,35,42,46,38,32,45" height="50" id="liteLineChartV3" width="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">

            <div class="element-wrapper compact">
                <div class="element-actions d-none d-sm-block">
                    <form class="form-inline justify-content-sm-end">
                        <label class="smaller" for="">News For</label><select class="form-control form-control-sm form-control-faded">
                            <option value="Pending">
                                Bitcoin
                            </option>
                            <option value="Active">
                                Etherium
                            </option>
                            <option value="Cancelled">
                                Litecoin
                            </option>
                        </select>
                    </form>
                </div>
                <h6 class="element-header">
                    Crypto News
                </h6>
                <div class="element-box-tp">

                    <div class="post-box">
                        <div class="post-media" style="background-image: url(img/portfolio1.jpg)"></div>
                        <div class="post-content">
                            <h6 class="post-title">
                                Is Crypto the Future of Film Funding?
                            </h6>
                            <div class="post-text">
                                Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait
                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="badge badge-primary">
                                        BTC
                                    </div>
                                    <div class="badge badge-primary">
                                        Crypto
                                    </div>
                                </div>
                                <a class="post-link" href="#"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post-media" style="background-image: url(img/portfolio2.jpg)"></div>
                        <div class="post-content">
                            <h6 class="post-title">
                                Is Crypto the Future of Film Funding?
                            </h6>
                            <div class="post-text">
                                Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait
                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="badge badge-primary">
                                        BTC
                                    </div>
                                    <div class="badge badge-primary">
                                        Crypto
                                    </div>
                                </div>
                                <a class="post-link" href="#"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                            </div>
                        </div>
                    </div>
                    <a class="centered-load-more-link" href="#"><span>Read Our Blog</span></a>
                </div>
            </div>

        </div>

    </div>
    <div class="row pt-2">
        <div class="col-6 col-sm-3 col-xxl-2">
            <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                <div class="label">
                    Bitcoin Price
                </div>
                <div class="value">
                    $7.484
                </div>
                <div class="trending trending-up">
                    <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-3 col-xxl-2">
            <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                <div class="label">
                    Last Month
                </div>
                <div class="value text-danger">
                    -$3,248
                </div>
                <div class="trending trending-down">
                    <span>12%</span><i class="os-icon os-icon-arrow-down6"></i>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-3 col-xxl-2">
            <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                <div class="label">
                    Etherium Price
                </div>
                <div class="value">
                    $784.12
                </div>
                <div class="trending trending-up">
                    <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-3 col-xxl-2">
            <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                <div class="label">
                    Ripple Price
                </div>
                <div class="value">
                    $1,284
                </div>
                <div class="trending trending-up">
                    <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>
                </div>
            </a>
        </div>
        <div class="col-6 col-xxl-2 d-sm-none d-xxl-block">
            <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                <div class="label">
                    Litecoin Price
                </div>
                <div class="value">
                    -$3,473
                </div>
                <div class="trending trending-down">
                    <span>5%</span><i class="os-icon os-icon-arrow-down6"></i>
                </div>
            </a>
        </div>
        <div class="col-6 col-xxl-2 d-sm-none d-xxl-block">
            <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                <div class="label">
                    Last Month
                </div>
                <div class="value">
                    -$3,248
                </div>
                <div class="trending trending-down">
                    <span>12%</span><i class="os-icon os-icon-arrow-down6"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-12 col-lg-6">
            <div class="element-wrapper">
                <h6 class="element-header">
                    Games on Today
                </h6>
                <div class="element-box-tp">
                    <div class="table-responsive">
                        <table class="table table-padded">
                            <thead>
                            <tr>
                                <th>
                                    Game
                                </th>

                                <th class="text-center">
                                    Ticket Category
                                </th>
                                <th>
                                    Last Reply Date
                                </th>
                                <th>
                                    Details
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody id="my-games-table-body">
                            <tr>
                                <td class="nowrap">
                                    <div class="game-table-teams">
                                        <h3>Buffalo Bills <span>(10-3)</span></h3>
                                        <h3>Chicago Bears <span>(8-7)</span></h3>
                                    </div>
                                </td>

                                <td>
                                    <span>Today</span><span class="smaller lighter">1:52am</span>
                                </td>
                                <td class="text-center pl-0 pr-0">
                                    <a class="badge badge-success-inverted" href="">Active</a>
                                </td>
                                <td class="nowrap">
                                    <div class="game-table-details">
                                        <h3>Testing</h3>
                                        <p>NCAAF</p>
                                    </div>
                                </td>
                                <td class="row-actions">
                                    <a href="#"><i class="os-icon os-icon-grid-10"></i></a><a href="#"><i class="os-icon os-icon-ui-44"></i></a><a class="danger" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="element-wrapper">
                <h6 class="element-header">
                    Popular Games
                </h6>
                <div class="element-box-tp">
                    <div class="table-responsive">
                        <table class="table table-padded">
                            <thead>
                            <tr>
                                <th>
                                    Game
                                </th>
                                <th class="text-center">
                                    Ticket Category
                                </th>
                                <th>
                                    Last Reply Date
                                </th>
                                <th>
                                    Ticket Status
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="game-table-teams">
                                        <h3>Buffalo Bills <span>(10-3)</span></h3>
                                        <h3>Chicago Bears <span>(8-7)</span></h3>
                                    </div>
                                </td>

                                <td>
                                    <span>Today</span><span class="smaller lighter">1:52am</span>
                                </td>
                                <td class="text-center">
                                    <a class="badge badge-success-inverted" href="">Active</a>
                                </td>
                                <td class="nowrap">
                                    <span class="status-pill smaller green"></span><span>Active</span>
                                </td>
                                <td class="row-actions">
                                    <a href="#"><i class="os-icon os-icon-grid-10"></i></a><a href="#"><i class="os-icon os-icon-ui-44"></i></a><a class="danger" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}