

.game-card {

  padding-bottom: 1em;

  .element-box {

      .game-card-title {

        h4 {
          font-size: 1em;
          font-weight: 600;

          span {
            font-weight: 600;

          }
        }
      }

  }
}