

.user-profile .up-contents {
  padding: 0;
}

.game-thread-container {
  padding-bottom: 0;


  .user-details-container {

    .user-avatar-container {
      float:left;
      padding-right: 0.6em;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }

    .user-title {
      font-weight: 600;
      font-size: 0.9em;
      margin-bottom: 0;
    }

    .user-subtitle {
      font-size: 0.8em;

      span {
        font-weight: 600;
      }
    }

  }

  .thread-content-container {
    padding-top: 1em;


    p {
      color: rgba(90, 99, 126, 0.89)
    }
  }

  .thread-actions-container {
    padding-bottom: 1em;

    .thread-actions-right {
      float: right;

      a {
        text-decoration: none;
      }
    }

  }

}


.game-page-members-container {


  .element-header {
    margin-bottom: 0;

  }

  .users-list-w .user-w {

    .user-name {
      padding-left: 0;

      .user-role {
        text-transform: none;

        span {
          font-weight: 700;
        }
      }
    }


    .user-action {
      width: auto;
      float: right;
      text-align: right !important;
    }
  }



}